@import "tailwindcss";

@theme {
  --color-primary: #3458db;
  --color-secondary: #dde3f9;

  --color-white: #ffffff;
  --color-black: #111827;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #afafaf;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
