@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #eff6ff;

  --color-white: #ffffff;
  --color-black: #111827;
  --color-gray: #6b7280;

  --animate-wave: wave 2s ease-in-out infinite;

  @keyframes wave {
    0%,
    100% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-15deg);
    }
    40% {
      transform: rotate(12deg);
    }
    60% {
      transform: rotate(-8deg);
    }
    80% {
      transform: rotate(6deg);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
